<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <div class="card">
        <div class="class-header">
            <b>New User Registration</b>
        </div>
        <div class="card-body">
            <form [formGroup]="loginform" (ngSubmit)="login()">
                <label>Username</label>
                <input type="text" formControlName="id" class="form-control" required />
            <br>
                <label>password</label>
                <input type="text" formControlName="password" class="form-control" required />
                
            <br>
                <input type="submit" value="Submit" class="btn btn-success"/>
                </form>
                <button routerLink="/NewUser">Click Here if you are a new user</button>
          </div>
        </div>
    </div>
    </div>
</div>